{% if footerlink %}
<section class="bg-[{{ settings_obj.header_footer_color }}] text-[{{ settings_obj.text_color }}] py-14 border-t border-gray-500">
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10">

    {% for col in footerlink|slice:":4" %}
    <div>
      <h3 class="text-lg font-semibold mb-4">
        {{ col.title }}
      </h3>

      <ul class="space-y-2 text-sm font-semibold">
        {% for item in col.children.all|slice:":7" %}
          <li>
            <a href="{% url 'search_projects' %}{{ item.link|default:'#' }}" target="_blank" class="hover:underline">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}

  </div>
</section>
{% endif %}



<!-- FOOTER START -->
<footer class="pt-16 border-t border-gray-500 text-[{{ settings_obj.text_color }}]" style="background-color: {{ settings_obj.header_footer_color }};">

  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-4 gap-12">

    <!-- Logo + About -->
    <div>
      <img src="{{ settings_obj.logo.url }}" class="h-[18] object-contain mb-3 drop-shadow" style="height: 120px;">
      <p class="mt- text-sm text-[{{ settings_obj.rera_color }}] bg-orange-100 px-3 py-1 rounded-md inline-block">
        <span class="font-semibold text-orange-600">RERA No.</span>
        {{ settings_obj.rera_number }}
      </p>
      <p class="text-[15px]mb-3 leading-7 text-[{{ settings_obj.text_color }}]">
        We specialize in premium real estate solutions including Residential,
        Commercial & Investment properties across India.
      </p>
      
    </div>

    <!-- Contact -->
    <div>
      <h3 class="font-semibold text-xl mb-3 text-[{{ settings_obj.text_color }}] tracking-wide">CONTACT US</h3>

      <p class="flex items-start gap-3 mb-3 text-[{{ settings_obj.text_color }}]">
        <i class="fas fa-map-marker-alt text-orange-500 mt-1"></i>
        {{ settings_obj.address }}
      </p>

      <p class="flex items-center gap-3 mb-3 text-[{{ settings_obj.text_color }}]">
        <i class="fas fa-envelope text-orange-500"></i>
        {{ settings_obj.email }}
      </p>

      <p class="flex items-center gap-3 mb-3 text-[{{ settings_obj.text_color }}]">
        <i class="fas fa-phone-alt text-orange-500"></i>
        {{ settings_obj.phone }}
      </p>

      
    </div>

    <!-- Quick Links -->
    <div>
      <h3 class="font-semibold text-xl mb-3 text-[{{ settings_obj.text_color }}] tracking-wide">QUICK LINKS</h3>

      <ul class="space-y-2 text-sm">
          <li><a href="/" class="text-[{{ settings_obj.text_color }}] hover:text-orange-600 transition">Home</a></li>
          <li><a href="{% url "about" %}" class="text-[{{ settings_obj.text_color }}] hover:text-orange-600 transition">About Us</a></li>
          <li><a href="{% url "contact" %}" class="text-[{{ settings_obj.text_color }}] hover:text-orange-600 transition">Contact Us</a></li>
          <li><a href="/" class="text-[{{ settings_obj.text_color }}] hover:text-orange-600 transition">Services</a></li>
          <li><a href="{% url "privacy-policy" %}" class="text-[{{ settings_obj.text_color }}] hover:text-orange-600 transition">Privacy Policy</a></li>
          <li><a href="{% url "terms_conditions" %}" class="text-[{{ settings_obj.text_color }}] hover:text-orange-600 transition">Terms & Conditions</a></li>
          <li><a href="{% url "disclaimer" %}" class="text-[{{ settings_obj.text_color }}] hover:text-orange-600 transition">Disclaimer</a></li>
          <li><a href="{% url "cookies" %}" class="text-[{{ settings_obj.text_color }}] hover:text-orange-600 transition">Cookies</a></li>
            

      </ul>
    </div>

   <!-- Social -->
    <div>
      <h3 class="font-semibold text-xl mb-3 text-[{{ settings_obj.text_color }}] tracking-wide">FOLLOW US</h3>

      <p class="text-sm text-[{{ settings_obj.text_color }}] leading-6">
        Follow us on social media for project updates, exclusive offers, 
        and real estate investment insights.
      </p>

      <p class="text-sm text-[{{ settings_obj.text_color }}] mt-2">
        Join our community and stay ahead with the latest property trends.
      </p>

      <div class="flex gap-3 mt-5 text-2xl text-[{{ settings_obj.text_color }}]">
        <a href="{{ settings_obj.facebook_link }}" class="hover:text-orange-600 transition">
          <i class="fab fa-facebook"></i>
        </a>

        <a href="{{ settings_obj.twitter_link }}" class="hover:text-orange-600 transition">
          <i class="fab fa-twitter"></i> 
        </a>

        <a href="{{ settings_obj.instagram_link }}" class="hover:text-orange-600 transition">
          <i class="fab fa-instagram"></i>
        </a>
        
        <a href="{{ settings_obj.linkedin_link }}" class="hover:text-orange-600 transition">
          <i class="fab fa-linkedin"></i>
        </a>

      </div>
    </div>


  </div>

  <!-- Bottom -->
  <div class="border-t border-gray-300 mt-12 py-6 text-center text-sm text-[{{ settings_obj.text_color }}]">
    © {{ settings_obj.copy_right }} — All Rights Reserved.
  </div>

</footer>
<!-- FOOTER END -->