{% load static %}

<header id="mainHeader" class="sticky top-0 z-50 border-b transition-all duration-300" style="background:{{ settings_obj.header_footer_color }};color:{{ settings_obj.text_color }}">

  <div class="max-w-7xl mx-auto px-4 py-3 flex items-center justify-between gap-4">

    <a href="/" class="flex items-center gap-2 shrink-0">
      {% if settings_obj.logo %}
        <img src="{{ settings_obj.logo.url }}" class="h-12">
      {% else %}
        <span class="text-xl font-bold">RealtyPro</span>
      {% endif %}
    </a>

    <form action="{% url 'search_projects' %}" method="get" class="hidden lg:flex items-center relative w-[460px]">
     
      <input required name="q" placeholder="Search by location, project or developer" class="w-full py-3 pl-12 pr-28 rounded-full border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:outline-none shadow-sm text-sm bg-white text-black">
      <i class="fa-solid fa-location-dot absolute left-4 text-gray-400"></i>

      <!-- Search Icon -->
      <button class="absolute right-4 text-gray-500 hover:text-orange-600">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

    </form>

    <!-- RIGHT SIDE ACTIONS -->
    <div class="hidden lg:flex items-center gap-4">

      <!-- TRUST BADGE -->
      <div class="flex items-center gap-2 text-sm opacity-90 text-green-500">
        <i class="fa-solid fa-shield-halved text-green-500"></i>
        RERA Verified
      </div>

      <!-- CALL CTA -->
      <a href="tel:{{ settings_obj.phone }}" class="flex items-center gap-2 px-5 py-2 rounded-lg font-semibold text-[{{ settings_obj.text_color }}] shadow-md hover:scale-105 transition" style="background:{{ settings_obj.button_color }}">
        <i class="fa-solid fa-house"></i> List your property
      </a>

    </div>

    <!-- MOBILE MENU -->
    <button id="openMenu" class=" text-2xl text-black">☰</button>

  </div>

</header>


<div id="mobileDrawer" class="fixed top-0 right-0 w-[85%] sm:w-80 h-full bg-white shadow-2xl translate-x-full transition-transform duration-300 z-[999] flex flex-col">

  <!-- LOGO -->
  <div class="flex items-center justify-between px-5 py-4 border-b">

    <div class="p-1 border-b">
      <form action="{% url 'search_projects' %}" method="get" class="relative w-full lg:hidden">

        <input name="q" placeholder="Search by location, project or developer" class="w-full py-2.5 pl-11 pr-11 rounded-full border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:outline-none shadow-sm text-sm">

        <!-- Location Icon -->
        <i class="fa-solid fa-location-dot absolute left-4 top-1/2 -translate-y-1/2 text-gray-400"></i>

        <!-- Search Button -->
        <button class="absolute right-4 top-1/2 -translate-y-1/2 text-gray-500 hover:text-orange-600">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

      </form>
    </div>

    <button id="closeMenu" class="text-3xl text-gray-500">&times;</button>
  </div>

  <!-- MENU -->
  <nav class="flex-1 overflow-y-auto">

    <a class="flex items-center gap-3 px-5 py-3 border-b" href="/">
      <i class="fa-solid fa-house "></i> Home
    </a>

    <a class="flex items-center gap-3 px-5 py-4 border-b" href="{% url 'search_projects' %}">
      <i class="fa-solid fa-building "></i> Projects
    </a>

    <a class="flex items-center gap-3 px-5 py-4 border-b" href="{% url 'calculator' %}">
      <i class="fa-solid fa-calculator "></i> Calculator
    </a>

    <a class="flex items-center gap-3 px-5 py-4 border-b" href="{% url 'blog:blog_list' %}">
      <i class="fa-solid fa-pen-nib "></i> Blogs
    </a>

    <a class="flex items-center gap-3 px-5 py-4 border-b" href="{% url 'about' %}">
      <i class="fa-solid fa-circle-info "></i> About
    </a>

    <a class="flex items-center gap-3 px-5 py-4 border-b" href="{% url 'contact' %}">
      <i class="fa-solid fa-phone "></i> Contact
    </a>

  </nav>


  <div class="p-4 border-t bg-white space-y-3">

    <!-- ENQUIRE -->
    <a href="{% url 'contact' %}" class="block text-center py-2 rounded-lg text-white font-semibold shadow-sm" style="background:{{ settings_obj.button_color }}">
      List your property
    </a>

    <!-- WHATSAPP -->
    <a href="https://wa.me/{{ settings_obj.whatsapp }}" target="_blank" class="flex items-center justify-center gap-2 border rounded-lg py-1 text-green-600 font-semibold hover:bg-green-50 transition">
      <i class="fa-brands fa-whatsapp text-xl"></i>
      WhatsApp Us
    </a>

  </div>


</div>

<div id="drawerOverlay" class="fixed inset-0 bg-black/60 hidden z-[998]"></div>

<script>
  const openMenu = document.getElementById("openMenu");
  const closeMenu = document.getElementById("closeMenu");
  const drawer = document.getElementById("mobileDrawer");
  const overlay = document.getElementById("drawerOverlay");

  openMenu.onclick = () => {
    drawer.classList.remove("translate-x-full");
    overlay.classList.remove("hidden");
  };

  closeMenu.onclick = () => {
    drawer.classList.add("translate-x-full");
    overlay.classList.add("hidden");
  };

  overlay.onclick = closeMenu.onclick;
</script>
